body {
  font-family: Roboto sans-serif;
}
.apply {
  margin-left: 80%;
}

.d-bloc {
  display: block !important;
}

.card-footer-sc {
  margin-left: 30%;
}

.main {
  background-image: url(images/pexels-tima-miroshnichenko-2.jpg);
  height: 70vh;
  width: auto;
  background-attachment: fixed;
  position: relative;
  background-position-y: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.font-card {
  font-size: 1.12em;
}

.detail-card-footer {
  font-size: 1.5rem;
}

.click-bg {
  background-color: whitesmoke;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.school-text {
  color: white;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  padding-left: 5%;
}

.header-color {
  background-color: rgb(201, 53, 53);
  height: 20%;
}

.text-color-white {
  color: white;
}

.form {
  height: 140px;
  background-color: white;
  opacity: 0.8;
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
}

.h-works {
  background-color: white;
  text-decoration: none;
  color: dimgrey;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
  width: fit-content;
}

.works {
  background-color: white;
  text-decoration: none;
  color: dimgrey;
  margin-top: 10%;
  margin-left:30%;
  margin-bottom: 10% !important;
  font-size: 1.2em;
}

.catalogue-width {
  width: 50%;
  margin: 0 auto;
}

.icon-center {
  width: 100%;
  margin: auto;
}

.fit-content {
  width: fit-content;
}

.over-bg {
  background-color: rgb(236, 120, 74);
  min-height: 320px;
}

.naija-image {
  width: 80%;
  margin-left: 10%;
  border-radius: 50%;
  margin-top: 5%;
}

.travel-bg {
  background-color: lightslategray;
  height: fit-content;
  width: auto;
}

.travel-image-p {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3%;
  max-height: 300px;
}



.travel-image {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 3%;
  border-radius: 50%;
  margin-top: 3%;
}

.none {
  display: none;
}

.anytime {
  background-color: lightskyblue;
}

.search-font {
  font-weight: 1.5rem !important;
}

.back-text {
  background-color: white;
  opacity: 0.8;
}


@media only screen and (min-width: 1024px){
  .catalogue-width {
    width: 50vw;
  }

  .text-grid {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .none {
    display: block;
  }
  
  .header-color {
    height: 10vh;
  }
  
  .over-bg {
    background-color: rgb(236, 120, 74);
    max-height: 500px;
    display: flex;
  }
  
  .over-bg-lg {
    margin-bottom: auto;
    margin-top: auto;
    width: 70vw;
  }
  
  .form-flex {
    display: flex;
    flex-direction: row;
    gap: 1%;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2%;
    margin-bottom: 4%;
    margin-left: 5%;
  }
  .font-w {
    font-size: 1.8rem
  }
  
  .search-font {
    font-weight: 1.5rem !important;
  }
  
  .letter-spa {
    letter-spacing: 1em;
  }
  
  .d-bloc {
    display: inline !important;
  }
  
  .apply {
    margin-left: 80%;
  }
  
  .font-card {
    font-size: 1.12em;
  }
  
  .travel-bg {
    background-color: lightslategray;
    height: fit-content;
    width: auto;
    display: flex;
  }
  
  .naija-image {
    width: 30% !important;
    margin-left: auto;
    border-radius: 50%;
    margin-top: 5%;
    margin-right: 2% !important;
    margin-bottom: 2% !important;
  }
  
  .works {
    background-color: white;
    text-decoration: none;
    color: dimgrey;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
  }
    
  .travel-image {
    width: 30% !important;
    margin-left: auto;
    border-radius: 50%;
    margin-top: 5%;
    margin-right: 2% !important;
  }
  
  .anytime {
    background-color: lightskyblue;
    display: flex;
  }
  
  .over-any-bg {
    margin-bottom: auto;
    margin-top: auto;
  }
  
  .travel-image-p {
    width: 20%;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 2%;
  }
  
  .footer-flex {
    display: flex;
  }
  
  .home {
    width: 40vw;
  }
  
  .facebook {
    width: 40vw;
  }
    
  .sus-width {
    width: 30vw;
  }
}


@media (min-width: 768px) and (max-width:1023px) {
  .catalogue-width {
    width: 50vw;
  }
  
  .text-grid {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .header-color {
    height: 10vh;
  }

  .over-bg {
    background-color: rgb(236, 120, 74);
    max-height: 500px;
    display: flex;
  }
    
  .over-bg-lg {
    margin-bottom: auto;
    margin-top: auto;
  }

  .letter-spa {
    letter-spacing: 1em;
  }
    
  .d-bloc {
    display: inline !important;
  }
  
  .apply {
    margin-left: 80%;
  }

  .font-card {
    font-size: 1.12em;
  }
    
    .form-flex {
      display: flex;
      flex-direction: row;
      gap: 1%;
    }
    
    .card-grid {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 2%;
      margin-bottom: 4%;
      margin-left: 5%;
    }
    .font-w {
      font-size: 1.8rem
    }
    
    .travel-bg {
      background-color: lightslategray;
      height: fit-content;
      width: auto;
      display: flex;
    }
    
    .naija-image {
      width: 40% !important;
      margin-left: auto;
      border-radius: 50%;
      margin-top: 5%;
      margin-right: 100px;
      margin-bottom: 2% !important;
    }
    
    .works {
      background-color: white;
      text-decoration: none;
      color: dimgrey;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 0;
    }
      
    .travel-image {
      width: 20%;
      margin-left: auto;
      border-radius: 50%;
      margin-top: 5%;
      margin-right: 100px;
    }
    
    .anytime {
      background-color: lightskyblue;
      display: flex;
    }
    
    .over-any-bg {
      margin-bottom: auto;
      margin-top: auto;
    }
    
    .travel-image-p {
      width: 20%;
      margin-left: auto;
      margin-right: 100px;
      margin-top: 2%;
    }
    
    .footer-flex {
      display: flex;
    }
    
    .home {
      width: 40vw;
    }
    
    .facebook {
      width: 40vw;
    }
      
    .sus-width {
      width: 30vw;
    }
}