body {
  font-family: Roboto sans-serif;
}

.main {
  background-image: url(images/pexels-tima-miroshnichenko-2.jpg);
  height: 70vh;
  width: auto;
  background-attachment: fixed;
  position: relative;
  background-position-y: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.font-card {
  font-size: 1.12em;
}

.school-text {
  color: white;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  padding-left: 5%;
}

.header-color {
  background-color: rgb(201, 53, 53);
  height: 20%;
}

.text-color-white {
  color: white;
}

.form {
  height: 140px;
  background-color: white;
  opacity: 0.8;
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
}

.h-works {
  background-color: white;
  text-decoration: none;
  color: dimgrey;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
  width: fit-content;
}

.works {
  background-color: white;
  text-decoration: none;
  color: dimgrey;
  margin-top: 10%;
  margin-left:40%;
  margin-bottom: 10%;
}

.catalogue-width {
  width: 50%;
  margin: 0 auto;
}

.icon-center {
  width: 100%;
  margin: auto;
}

.fit-content {
  width: fit-content;
}

.over-bg {
  background-color: rgb(236, 120, 74);
  min-height: 320px;
}

.naija-image {
  width: 80%;
  margin-left: 10%;
  border-radius: 50%;
  margin-top: 5%;
}

.travel-bg {
  background-color: lightslategray;
  height: fit-content;
  width: auto;
}

.travel-image-p {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3%;
  max-height: 300px;
}


.travel-image {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3%;
  border-radius: 50%;
}

.anytime {
  background-color: lightskyblue;
}
