body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  background-image: url(images/pexels-tima-miroshnichenko-2.jpg);
  height: 70vh;
  width: auto;
  background-attachment: fixed;
  position: relative;
  background-position-y: top;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.school-text {
  color: white;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 0;
  text-align: center;
}

.header-color {
  background-color: brown;
  height: 20%;
}

.text-color-white {
  color: white;
}

section {
  height: 140px;
  background-color: white;
  opacity: 0.8;
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
}

.works {
  height: fit-content;
  background-color: white;
  text-decoration: none;
  color: dimgrey;
  width: fit-content;
  margin-top: 10%;
  margin-left: 30%;
}